<h3 class="title top-border-round margin-none">DASHBOARD</h3>

<div class="light-block padding-top-small bottom-border-round">
    <a class="btn btn-info trachops-module" [routerLink]="['/mosia/hodnotenie', 'VAST-101-VSETCI-N18583-201702', {state: 'JTdCJTIyU1VNQVIlMjIlM0ElN0IlMjJkZXRhaWwlMjIlM0F0cnVlJTJDJTIyY2hhcnQlMjIlM0F0cnVlJTdEJTJDJTIyU1BPTFUlMjIlM0ElN0IlMjJkZXRhaWwlMjIlM0F0cnVlJTJDJTIyY2hhcnQlMjIlM0FmYWxzZSU3RCUyQyUyMlBSSUFNRSUyMiUzQSU3QiUyMmRldGFpbCUyMiUzQXRydWUlMkMlMjJjaGFydCUyMiUzQWZhbHNlJTdEJTJDJTIyU1ZMWiUyMiUzQSU3QiUyMmRldGFpbCUyMiUzQXRydWUlMkMlMjJjaGFydCUyMiUzQWZhbHNlJTdEJTJDJTIyUFJFU0tSJTIyJTNBJTdCJTIyZGV0YWlsJTIyJTNBZmFsc2UlMkMlMjJjaGFydCUyMiUzQWZhbHNlJTdEJTdE'}]">
        <span>DEMO</span>
    </a>
</div>