@import '../variables.scss';
@import '../theme/app-theme.scss';
@import '../theme/app-dark-theme.scss';

prehlad-hospitalizacii-view.app-page
{
    .advanced-metadata-selector-div
    {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        box-shadow: 0 0 4px #AAA;
        top: -92px;
        height: 140px;
        border-radius: 4px;
        z-index: 10;
    }

    .filter
    {
        .drg-tags-input
        {
            width: 100%;
            margin-bottom: 1px;
        }

        .drg-tag-content
        {
            display: inline-block;
        }

        .default-main
        {
            &>.default-tag
            {
                margin-bottom: 1px;
                background-color: #6ABA4F;
            }

            &>span
            {
                flex: 1;
                min-width: 50px;
            }
        }

        &>div
        {
            display: flex;
            flex-direction: row;

            &.block
            {
                display: block;
            }

            .large-input-field
            {
                flex: 0 0 32.5%;
                min-width: 0;
            }

            .big-input-field
            {
                flex: 0 0 22%;
                min-width: 0;
            }

            .medium-input-field
            {
                flex: 0 0 19.5%;
                min-width: 0;
            }

            .small-input-field
            {
                flex: 0 0 13%;
                min-width: 0;
            }

            .mdc-select .dropdown-menu
            {
                left: auto;
                right: -200px;
            }

            .right-aligned-select .dropdown-menu
            {
                left: auto;
                right: 0;
            }
        }

        .state-flex
        {
            display: flex;
            flex-direction: row;
            max-width: 100%;

            &>div
            {
                &:nth-child(1)
                {
                    flex: 1;
                    min-width: 0;
                }

                &:nth-child(2)
                {
                    flex: 1;
                    min-width: 0;
                }
            }
        }
    }

    table
    {
        .fixed-header
        {
            position: fixed;
            background-color: #E5E5E5;
            color: #111;
            top: 0;
            z-index: 10;
        }
    }

    table.table tbody tr>td:not(:last-child)
    {
        padding-right: 10px;
    }
}

jubula-view
{
    jubula-vaha-tag
    {
        @mixin weight-base
        {
            padding: 0px 0.5em;
            border-radius: 12px;
        }

        .weight-0
        {
            @include weight-base;
            background-color: #4cb03b;
            color: #FFFFFF;
        }

        .weight-1
        {
            @include weight-base;
            background-color: #bbdd4f;
            color: #FFFFFF;
        }

        .weight-2
        {
            @include weight-base;
            background-color: #d4da03;
            color: #FFFFFF;
        }

        .weight-3
        {
            @include weight-base;
            background-color: rgb(228, 162, 86);
            color: #FFFFFF;
        }

        .weight-4
        {
            @include weight-base;
            background-color: rgb(228, 85, 20);
            color: #FFFFFF;
        }

        .weight-5
        {
            @include weight-base;
            background-color: #EC0E0E;
            color: #FFFFFF;
        }
    }
}

detail-hospitalizacie-view.app-page
{
    denial-dialog
    {
        .unselected
        {
            opacity: 0.5;
        }
    }

    .floating-alert
    {
        position: relative;

        &.has-error:hover
        {
            .alert
            {
                opacity: 1;
                pointer-events: all;
            }
        }

        .alert
        {
            opacity: 0;
            position: absolute;
            padding: 4px 8px;
            font-size: $fontSizeSm;
            width: 100%;
            pointer-events: none;
            transition: opacity 250ms;
            z-index: 10;
        }
    }

    .text-bottom
    {
        vertical-align: text-bottom;
    }

    .header
    {
        font-size: $fontSizeXl;
    }

    .hosp-flex
    {
        display: flex;
        flex-direction: row;

        .hosp-flex-left
        {
            padding-left: $pageMdWidth;
            padding-right: $pageSmWidth;
            flex: 2;
            max-width: 40%;

            &.no-padding
            {
                padding: 0;
            }
        }

        .hosp-flex-right
        {
            padding-right: $pageMdWidth;
            padding-left: $pageSmWidth;
            flex: 3;
            max-width: 60%;

            &.no-padding
            {
                padding: 0;
            }
        }
    }

    .flex-sprava-vytvoril
    {
        flex: 0 0 20px;
    }

    .flex-sprava-text
    {
        flex: 1;
    }

    .flex-sprava-zmazat
    {
        flex: 0 0 18px;
    }

    input[type="checkbox"]
    {
        margin: 2px 0 0;

        &+span
        {
            vertical-align: top;
        }
    }

    udalost-view
    {
        &.macrotis-in
        {
            background-color: #B5CBD6;
        }

        &.macrotis-out
        {
            background-color: #9CDDFB;
        }

        &.zpis-in
        {
            background-color: #E2D4C2;
        }

        &.zpis-out
        {
            background-color: #FED58A;
        }

        &.not-zpis-macrotis
        {
            background-color: #F4B8B8;
        }

        &.zamietnute-zrusene
        {
            background-color: #DADADA;
        }

        &.active-case
        {
            border: 3px solid #FFB73B;

            .btn-icon.load-case
            {
                font-size: 32px;
                margin-top: -8px;

                span
                {
                    color: #333;
                    font-weight: bold;

                    &:hover
                    {
                        color: $buttonDarkerColor;
                    }

                    &:active
                    {
                        color: $buttonDarkColor;
                    }
                }
            }
        }

        .hosp-case-header
        {
            display: grid;
            grid-template-columns: 20px 74px auto 1fr auto 20px 24px 12px;
            grid-template-rows: 16px 16px;
            grid-template-areas: "collapse-btn date-from drg drg-popis price weight-tag load-hosp state-zp"
                                 "collapse-btn date-to drg drg-popis price weight-tag load-hosp state-jubula";

            .collapse-btn, .drg, .drg-popis,
            .price, .weight-tag, .load-hosp
            {
                min-width: 0;
                align-self: center;
            }

            .date-from,
            .date-to
            {
                justify-self: center;
            }

            .collapse-btn
            {
                grid-area: collapse-btn;
                justify-self: start;
            }

            .date-from
            {
                grid-area: date-from;
            }

            .date-to
            {
                grid-area: date-to;
            }

            .drg
            {
                grid-area: drg;
            }

            .drg-popis
            {
                grid-area: drg-popis;
            }

            .price
            {
                grid-area: price;
            }

            .weight-tag
            {
                grid-area: weight-tag;
            }

            .load-hosp
            {
                grid-area: load-hosp;

                .load-case
                {
                    font-size: 34px;
                    line-height: 1em;
                    margin-top: -5px;
                }
            }

            .state-zp
            {
                grid-area: state-zp;
            }

            .state-jubula
            {
                grid-area: state-jubula;
            }
        }

        .date-flex
        {
            flex: 0 0 74px;
        }

        .oddelenie-flex
        {
            flex: 1;
            min-width: 0;
        }
    }

    udalost-dg-prod-view
    {
        font-size: $fontSizeSm;

        .vaha-typ-flex
        {
            flex: 0 0 80px;
        }

        .vaha-flex
        {
            flex: 0 0 38px;
        }

        .drg-relevant-flex
        {
            flex: 0 0 6px;
        }

        .type-flex
        {
            flex: 0 0 36px;
        }

        .code-flex
        {
            flex: 0 0 72px;
        }

        .description-flex
        {
            flex: 1;
        }
    }

    variant-view, .measured-times
    {
        &.highlight
        {
            border: 1px solid #333;
            box-shadow: 0px 0px 6px -1px #333;
        }

        &.zlucene
        {
            background-color: #FED58A;
        }

        .layout
        {
            display: grid;
            grid-template-columns: 16px 1fr 20px 20px 31px;
            grid-template-rows: auto;
            grid-template-areas: "basic-toggle drg remove top-action vaha"
                                 "advanced-toggle dgs-prods dgs-prods dgs-prods dgs-prods"
                                 ". detail detail detail detail";

            //************ BASIC INFO ************
            .basic-toggle-area
            {
                grid-area: basic-toggle;
                align-self: center;
                justify-self: left;
            }

            .drg-area, .drg-area-original
            {
                grid-area: drg;
                font-size: $fontSizeLg;
                min-width: 0;

                .flex-container
                {
                    display: flex;
                    flex-direction: row;
                }

                .drg
                {
                    flex: 1;
                    min-width: 0;
                }

                .uod-pccl-erv
                {
                    flex: 0 0 120px;
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    font-size: $fontSizeSm;
                }

                .uod-pccl-erv-item
                {
                    margin-right: 4px;
                    margin-top: -4px;
                }

                .cena
                {
                    text-align: right;
                    flex: 1;
                    font-size: $fontSizeXl;
                    max-width: 110px;
                }

                .action-edit
                {
                    margin-left: $smWidth;
                }

                .vaha
                {
                    margin-left: $smWidth;
                }
            }

            .drg-area-original
            {
                grid-area: 1 / 2 / 2 / 6;
            }

            .remove-area
            {
                grid-area: remove;
                justify-self: right;
                align-self: center;
            }

            .top-action-area
            {
                grid-area: top-action;
                justify-self: right;
                align-self: center;
            }

            .vaha-area
            {
                grid-area: vaha;
                justify-self: right;
                align-self: center;
                font-size: $fontSizeLg;
            }

            //************ ADVANCED INFO ************
            .advanced-toggle-area
            {
                grid-area: advanced-toggle;
            }

            //************ DETAIL INFO ************
            .detail-area
            {
                grid-area: detail;
            }
        }

        .detail-info
        {
            &>span:first-child
            {
                font-size: $fontSizeXs;
            }

            &>span:last-child
            {
                font-size: $fontSizeSm;
                font-weight: bold;
            }
        }

        .variant-detail-info
        {
            display: grid;
            grid-column-gap: $smWidth;
            grid-row-gap: $mdWidth;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "item-1-1 item-1-2 item-1-3 item-1-4"
                                 "item-2-1 item-2-2 item-2-3 item-2-4";

            .item-1-1-area
            {
                grid-area: item-1-1;
                min-width: 0;
            }

            .item-1-2-area
            {
                grid-area: item-1-2;
                min-width: 0;
            }

            .item-1-3-area
            {
                grid-area: item-1-3;
                min-width: 0;
            }

            .item-1-4-area
            {
                grid-area: item-1-4;
                min-width: 0;
            }

            .item-2-1-area
            {
                grid-area: item-2-1;
                min-width: 0;
            }

            .item-2-2-area
            {
                grid-area: item-2-2;
                min-width: 0;
            }

            .item-2-3-area
            {
                grid-area: item-2-3;
                min-width: 0;
            }

            .item-2-4-area
            {
                grid-area: item-2-4;
                min-width: 0;
            }
        }
    }

    variant-dg-prod-view, variant-dg-prod-line-view
    {
        border-radius: $borderRadius;
        padding: 0 4px;
        position: relative;

        &>.popup
        {
            font-size: $fontSizeXs;
            padding: $xsWidth $smWidth;
            border-radius: $borderRadius;
            opacity: 0;
            position: absolute;
            transition: opacity 250ms 100ms;
            pointer-events: none;
            box-shadow: 0 0 4px -2px #000000;
            z-index: 10;
            white-space: nowrap;
            top: 18px;
            left: 65%;

            .twitter-typeahead
            {
                display: inline-block !important;
            }

            input[typeahead]
            {
                display: inline-block;
                width: 135px;
                height: 16px;
                padding: 0 4px;
                font-size: 10px;
            }

            .flex-spravy
            {
                display: flex;
                flex-direction: row;

                .flex-spravy-popis
                {
                    flex: 0 0 auto;
                }

                .flex-spravy-text
                {
                    flex: 1;
                }
            }
        }

        &:hover>.popup
        {
            transition: opacity 350ms 650ms;
            opacity: 1;
            pointer-events: all;
        }

        .dg-prod-text
        {
            &.zmazat
            {
                position: relative;

                &:after
                {
                    border-top: 1px solid #111111;
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 55%;
                    left: 0;
                }
            }

            &:not(.drg-relevant)
            {
                font-style: italic;
            }

            &.used.drg-relevant
            {
                font-weight: bold;
            }
        }
    }

    edit-variant-view
    {
        display: grid;
        grid-column-gap: $smWidth;
        grid-template-columns: 62px 68px 10px auto 1fr 1fr 1fr;
        grid-template-rows: auto $pageSmWidth auto auto;
        grid-template-areas: "od-input upv-input sex-input age-weight-input druh-prij dovod-prij dovod-prep"
                             ". . . . . . ."
                             "dgs-prods dgs-prods dgs-prods dgs-prods dgs-prods dgs-prods dgs-prods"
                             "commands commands commands commands commands commands commands";

        .od-input-area
        {
            grid-area: od-input;
        }

        .upv-input-area
        {
            grid-area: upv-input;
        }

        .sex-input-area
        {
            grid-area: sex-input;
        }

        .age-weight-input-area
        {
            grid-area: age-weight-input;
        }

        .druh-prij-area
        {
            line-height: 15px;
            grid-area: druh-prij;
        }

        .dovod-prij-area
        {
            line-height: 15px;
            grid-area: dovod-prij;
        }

        .dovod-prep-area
        {
            line-height: 15px;
            grid-area: dovod-prep;
        }

        .commands-area
        {
            grid-area: commands;
        }

        input[type="text"]
        {
            display: inline-block;
            width: 32px;
            height: 18px;
            padding: 0 2px;
            line-height: 14px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
        {
            .btn-select
            {
                font-size: $fontSizeSm;
                height: 18px;
                padding: 0px 4px;
            }
        }

        .add-dg-prod-grid
        {
            display: grid;
            grid-column-gap: $smWidth;
            grid-template-columns: 1fr 70px 1fr 1fr 30px;
            grid-template-rows: auto;
            grid-template-areas: "kod-input lok-input pocet-input dat-input commands";

            input[type="text"]
            {
                width: 100%;
            }

            .kod-input-area
            {
                line-height: $fontSizeSm;
                grid-area: kod-input;
            }

            .lok-input-area
            {
                line-height: $fontSizeSm;
                grid-area: lok-input;
            }

            .pocet-input-area
            {
                line-height: $fontSizeSm;
                grid-area: pocet-input;
            }

            .dat-input-area
            {
                line-height: $fontSizeSm;
                grid-area: dat-input;
            }

            .commands-area
            {
                line-height: $fontSizeSm;
                grid-area: commands;
            }
        }
    }

    .dgs-prods-area
    {
        grid-area: dgs-prods;
        display: grid;
        min-width: 0;

        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: "hdg-title hdg-value"
                             "vdgs-title vdgs-value"
                             "prods-title prods-value"
                             "dpps-title dpps-value";

        &.union
        {
            grid-template-columns: auto auto 1fr auto 1fr;
            grid-template-areas: ". hdg-title hdg-value hdg-value hdg-value"
                                 "oneline-col vdgs-title vdgs-value prods-title prods-value"
                                 ". dpps-title dpps-value dpps-value dpps-value";


            &.one-line
            {
                grid-template-columns: auto 1fr 1fr;
                grid-template-areas: ". hdg-title hdg-title"
                                     ". hdg-value hdg-value"
                                     "oneline-col vdgs-title prods-title"
                                     ". vdgs-value prods-value"
                                     ". dpps-title dpps-title"
                                     ". dpps-value dpps-value";

                variant-dg-prod-line-view
                {
                    padding: 0;
                }
            }
        }

        .dgs-prods-title
        {
            font-size: $fontSizeXs;
            line-height: 19px;
        }

        .one-line-col
        {
            grid-area: oneline-col;
        }

        .hdg-title-area
        {
            grid-area: hdg-title;
            min-width: 0;
        }

        .hdg-value-area
        {
            grid-area: hdg-value;
            min-width: 0;

            &>div:first-child
            {
                white-space: nowrap;

                &>div
                {
                    max-width: calc(100% - 80px);
                }
            }
        }

        .vdgs-title-area
        {
            grid-area: vdgs-title;
        }

        .vdgs-value-area
        {
            grid-area: vdgs-value;
            min-width: 0;
        }

        .prods-title-area
        {
            grid-area: prods-title;
        }

        .prods-value-area
        {
            grid-area: prods-value;
            min-width: 0;
        }

        .dpps-title-area
        {
            grid-area: dpps-title;
        }

        .dpps-value-area
        {
            grid-area: dpps-value;
            min-width: 0;
        }
    }
}