drg-detail
{
    .tight
    {
        ng-select .btn.btn-select
        {
            height: 18px;
            padding: 1px;
            font-size: 10px;
            width: 64px;
        }
    }


    arg-edit
    {
        .tight
        {
            ng-select .btn.btn-select
            {
                width: 100px;
            }
        }
    }
}