//---------------------- SIZING ----------------------
$pageXsWidth: 5px;
$pageSmWidth: 10px;
$pageMdWidth: 20px;
$pageLgWidth: 36px;

$pageNegXsWidth: -2px;
$pageNegSmWidth: -10px;
$pageNegMdWidth: -20px;
$pageNegLgWidth: -36px;

$fontSizeXs: 10px;
$fontSizeSm: 12px;
$fontSizeMd: 14px;
$fontSizeLg: 16px;
$fontSizeXl: 18px;
$fontSizeXxl: 22px;

$borderRadius: 4px;

//---------------------- PAGE STYLING ----------------------
.app-page
{
    border-radius: $borderRadius;
    font-family: "SegoeUI";
    display: block;
    margin-top: $pageSmWidth;
    margin-bottom: $pageMdWidth;

    &.full-height
    {
        height: calc(100vh - 72px);
        background-color: transparent;
        margin-top: 0;
    }

    &.ng-animating
    {
        width: 90%;
    }

    //############## MISC ##############
    .line-height-default
    {
        line-height: 1em;
    }
    
    .border-round
    {
        border-radius: $borderRadius;
    }

    .border-round-50
    {
        border-radius: 50%;
    }

    .top-border-round
    {
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }

    .bottom-border-round
    {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    .left-border-round
    {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }

    .right-border-round
    {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    .top-left-border-round
    {
        border-top-left-radius: $borderRadius;
    }

    .bottom-left-border-round
    {
        border-bottom-left-radius: $borderRadius;
    }

    .top-right-border-round
    {
        border-top-right-radius: $borderRadius;
    }

    .bottom-right-border-round
    {
        border-bottom-right-radius: $borderRadius;
    }

    .extra-small-text
    {
        font-size: $fontSizeXs;
    }
    
    .normal-text
    {
        font-size: $fontSizeSm;
    }

    .medium-text
    {
        font-size: $fontSizeMd;
    }

    .large-text
    {
        font-size: $fontSizeLg;
    }

    .extra-large-text
    {
        font-size: $fontSizeXl;
    }

    .extra-extra-large-text
    {
        font-size: $fontSizeXxl;
    }

    .padding-top-extra-small
    {
        padding-top: $pageXsWidth;
    }

    .padding-top-small
    {
        padding-top: $pageSmWidth;
    }

    .padding-top-big
    {
        padding-top: $pageMdWidth;
    }

    .padding-left-extra-small
    {
        padding-left: $pageXsWidth;
    }

    .padding-left-small
    {
        padding-left: $pageSmWidth;
    }

    .padding-left-big
    {
        padding-left: $pageMdWidth;
    }

    .padding-right-extra-small
    {
        padding-right: $pageXsWidth;
    }

    .padding-right-small
    {
        padding-right: $pageSmWidth;
    }

    .padding-right-big
    {
        padding-right: $pageMdWidth;
    }

    .padding-bottom-extra-small
    {
        padding-bottom: $pageXsWidth;
    }

    .padding-bottom-small
    {
        padding-bottom: $pageSmWidth;
    }

    .padding-bottom-big
    {
        padding-bottom: $pageMdWidth;
    }

    .padding-horizontal-extra-small
    {
        padding-left: $pageXsWidth;
        padding-right: $pageXsWidth;
    }

    .padding-horizontal-small
    {
        padding-left: $pageSmWidth;
        padding-right: $pageSmWidth;
    }

    .padding-vertical-extra-small
    {
        padding-top: $pageXsWidth;
        padding-bottom: $pageXsWidth;
    }

    .padding-vertical-small
    {
        padding-top: $pageSmWidth;
        padding-bottom: $pageSmWidth;
    }

    .padding-extra-small
    {
        padding: $pageXsWidth;
    }

    .padding-small
    {
        padding: $pageSmWidth;
    }

    .margin-top-none
    {
        margin-top: 0;
    }

    .margin-top-extra-small
    {
        margin-top: $pageXsWidth;
    }

    .margin-top-small
    {
        margin-top: $pageSmWidth;
    }

    .margin-top-big
    {
        margin-top: $pageMdWidth;
    }

    .margin-bottom-extra-small
    {
        margin-bottom: $pageXsWidth;
    }

    .margin-bottom-small
    {
        margin-bottom: $pageSmWidth;
    }

    .margin-bottom-big
    {
        margin-bottom: $pageMdWidth;
    }

    .margin-bottom-large
    {
        margin-bottom: $pageLgWidth;
    }

    .margin-left-extra-small
    {
        margin-left: $pageXsWidth;
    }

    .margin-left-small
    {
        margin-left: $pageSmWidth;
    }

    .margin-left-big
    {
        margin-left: $pageMdWidth;
    }

    .margin-right-extra-small
    {
        margin-right: $pageXsWidth;
    }

    .margin-right-small
    {
        margin-right: $pageSmWidth;
    }

    .margin-right-big
    {
        margin-right: $pageMdWidth;
    }

    .margin-horizontal-extra-small
    {
        margin-left: $pageXsWidth;
        margin-right: $pageXsWidth;
    }

    .margin-horizontal-small
    {
        margin-left: $pageSmWidth;
        margin-right: $pageSmWidth;
    }
    
    .margin-horizontal-large
    {
        margin-left: $pageMdWidth;
        margin-right: $pageMdWidth;
    }

    .margin-vertical-small
    {
        margin-top: $pageSmWidth;
        margin-bottom: $pageSmWidth;
    }

    .margin-small
    {
        margin: $pageSmWidth;
    }

    .margin-none
    {
        margin: 0;
    }

    .spread-text
    {
        letter-spacing: 1px;
    }

    //############## TITLE ##############
    .title
    {
        margin-top: $pageNegMdWidth;
        padding: $pageMdWidth $pageMdWidth $pageSmWidth;
        font-size: $fontSizeXxl;

        &.not-header
        {
            padding: $pageSmWidth 0;
        }
    }

    .title-small
    {
        font-size: $fontSizeMd;
    }

    .collapsible-title
    {
        font-size: $fontSizeLg;
        padding: 2px 4px;
        border-radius: 4px;
    }

    //############## TAGS ##############

    .tag
    {
        padding: 0px 4px;
        border-radius: 4px;
        margin-bottom: 1px;
    }

    //############## TABLE ##############
    .table
    {
        tbody, thead, tfoot
        {
            & > tr >
            {
                td, th
                {
                    border-top: none;
                }
            }
        }
    }

    //############## BLOCK ##############
    .border-block,
    .highlight-block
    {
        border-radius: $borderRadius;
        padding: $pageSmWidth;
    }

    //############## BUTTONS ##############
    .btn-icon
    {
        padding: 0;
        border: none;
    }
    
    .btn-tab
    {
        border-radius: 0;
        border-width: 0;
    }
    
    //############## FORM VALIDATIONS ##############

    div.form-group.has-error
    {
        position: relative;
    }

    .validation-error-div
    {
        position: relative;
    }

    .validation-error-div::after
    {
        content: attr(data-error-message);
        transition: all 300ms;
        position: absolute;
        width: 100%;
        border-radius: $borderRadius;
        padding: 0px 4px 3px;
        font-size: $fontSizeSm;
        z-index: 10;
        opacity: 0;
        left: 0;
    }

    [class*="-error"]:hover + div.validation-error-div::after
    {
        opacity: 1;
    }
}
